*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
/* ***********************apple card start***************************************** */
.body{
    background-color: rgb(117, 41, 41);
}
.containar {
   min-height: 480px;max-width: 800px;position: fixed;padding-left: 130px;background-color: rgba(134, 163, 27, 0.555);
    position: relative;margin: 4em auto;
}
.card{
    width: 60%;height: 85%;background-color: white;position: absolute;
    right: 15%;top:8%;
}

.head4 {
    position: absolute;right: 26%;top: 10%;font-size: large;color: rgb(51, 46, 46);
}
#rate{
    color: crimson;position: absolute;top: 22%;right: 32%;font-size: large;
}

#color{
    color: grey;font-size: small;position: absolute;top: 32%;right: 32%;
}

.img{
    width: 30px;height: 30px;position: absolute;top: 40%;
}
.img1{
    right: 49%;top: 38%;
}
.img2{
    right: 43%;top: 38%;
}
.img3{
    right: 36%;top: 38%;
}
.img4{
    right: 30%;top: 38%;
}

b{ font-size:xx-large;    }  

.h4{
    color: grey;position: absolute;right:40%;font-size: small;top: 48%;
}
 .good{
        color: rgb(71, 68, 68);font-size: small;position: absolute;left: 40%;top:54% ;

}
button{width: 30%;height: 8%;color: white;background-color: crimson;border: none;
    position: absolute;bottom:3% ;right: 18%;border-radius: 10%;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.white{
    height: 75%;width: 30%;background-color: rgb(194, 241, 65);position: absolute;z-index: 1;top: 8%;left: 15%;
}
.white .apple{
    width: 300px;position: absolute;top:7%; right: 1%;
}
.green{
    width: 30%;height: 10%;background-color: rgb(225, 241, 236);position: absolute;z-index: 1;bottom: 7%;left: 15%;
}
.g-apple{
    width: 20%;left: 10%;
}
.g-apple1{
    width: 20%;left: 20%;
}
.g-apple2{
    width: 20%;left: 30%;
}
.g-apple3{
    width: 20%;left: 40%;
}

 @media (max-width:1000px){
.containar .card {width: 60%;
}
.white .green{
    width: 28%;
}
}
 @media (max-width:750px){
.containar .card {width: 60%
}
.white .green{
    width: 28%;
}
.white .apple{
    width: 280px;
}
}
 @media (max-width:650px){ 
    .good{
        left: 35%;
    }
    .white .apple{
        width:260px ;
    }
    button{
        width: 100px;font-size: 10px;
    }
    .img{
        padding: 5px;
    }
 }
 @media (max-width:600px){
    .containar.card{
        width: 90%;
    }
    .white .apple{
display: flex;flex-direction: column;
    }
    .white .apple{
        width: 240px;
    }
 }
  @media (max-width:500px){
    .white{
        width: 60%;height: 50%;
    }
    .apple{
        width: 200px;left: 8%;top: 10%;
    }
    .green{
            height: 10%;   width: 60%;top:58% ;

    }
    .containar{
        height: 90%;margin: 0 auto;

            }
                    .card{
        width: 60;top: 67%;left: 15%;
    }
    .good{
        left:20%;
    }
    .button{
        left: 30%;
    }
    #color #rate{
        left: 20%;
    }
  }











/* ***************************apple card end*********************************************** */







/* ******************************form start*********************** */
.parent{
   min-width:90vw;
    height: 90vh;
    border-radius: 10px;
    background-color: aliceblue;
    font-family: sans-serif;margin: 0 auto;
    display: flex;flex-wrap:wrap ;justify-content: center;
}
.parent .content{
    width:300px;height: 95vh;background: blue;color: white;padding: 10px;border-radius: 10px;
    display: flex;flex-direction: column;margin: 15px 0 15px 0;
}
.parent .content .one{
    font-size: 16px;font-variant: small-caps;
    width: 10%;height: 10%;display: flex;align-items: flex-start;
}
.parent .content .two{width: 100%;height: 40%;

}
.parent .content .two h2 {
    padding-top: 50px;font-size: 22px;
}
.parent .content .two p{
    padding-top: 30px;color: gray;font-size: 13px;
}
.parent .content .three{
    width: 100%;height: 40%;border: 1px solid rgb(68, 64, 64);
    padding: 30px 10px 30px 10px;background-color: rgb(25, 25, 158);
}
.parent .content .three img{
    width: 100px;padding-top: 20px ;

}
.parent .form{
   width:690px ;height: 95vh;margin: 15px 0 15px 0;padding: 20px;
}
h3{
    display: inline-block;
}
#sign{
    color: blue;display: inline-block;
}
.form .lable{ display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    color: grey;
}
.form .inone{
    width: 34%;
        height: 50px;
    margin: 0 5px;
    border-radius: 20px ;

}
input{
    width: 70%;
    height: 50px;
    margin: 0 5px;
}
.form .button{
    width: 25%;height: 50px;background-color: blue;display: block;
    margin: 5vh 5vh;text-decoration: none;color: white;
}
.button{
    border: none;border-radius: 10px;
}

/* ******************************form end************************ */ 



/* ****************************** mdn start***********************  */
header{
    position:fixed;top: 0;left: 0;right: 0;
}
header.logo{
  
height: 70px;min-width: 1000px;background-color: rgb(241, 233, 222);display: flex;justify-content: space-between;
  align-items: center;  overflow: auto;padding-top: 75px;
}
header .logo img{
    width: 100px;  padding-right: 20px;margin-right: 70px;margin-left: 10px;
}
.dropdown {
 position: relative;
 display: inline-block;margin-left: 30px;
}
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 padding: 12px 16px;
 z-index: 1;
}
.dropdown:hover .dropdown-content {
 display: block;color: rgb(215, 224, 220);background-color: rgb(4, 90, 61);
}





.logo a{
    color: black;margin-left: 100px;
}
header .logo #icon{
    padding-left: 10px;margin-left: 20px;border-radius: 2px;
}
nav {
    width: 100%;height: 35px;background-color:aliceblue;border-top: 1px solid black;
    border-bottom: 1px solid black;display: flex;justify-content: space-between;align-items: center;
    padding-top: 15px;margin-top: 90px;
}
nav .web{
    padding: 0 40px;margin-left: 30px;
}
nav .theme{
    padding-right: 40px;}
nav .theme i{
    padding-right: 40px;
}
a{
    color: black;
}
.hero{
   min-width: 90vw;height: 100vh;display: flex;
}
.hero .sidebar1{
    display: flex;gap: 1em;width: 20%;position: relative;
overflow: auto;
}
.hero .sidebar1 input{
    width: 200px;height: 40px; border-radius: 20px;
    display: block;padding: 8px;
  margin-bottom: 10px; margin-top: 30px;
}
ul {list-style: none;position: absolute;top: 80px;display: flex;
    flex-direction: column ;gap: 15px;padding-bottom: 70px;
}

li {
  margin-bottom: 5px 
}


.hero .content{
        display: flex;gap: 1em;width: 59%;overflow: auto;position: relative;padding-left: 15px;

}
.hero .content h1 {display: inline-block;position: absolute;padding-top: 30px;
}
.hero .content p{display: inline-block;position: absolute;padding-top: 100px;
}
.hero .content .head1{
    position: absolute;top:400px ;
}
.hero .content .para1{
        position: absolute;top:410px ;

}
.hero .content .head2{
    position: absolute;top:700px ;
}
.hero .content .para2{
        position: absolute;top:710px ;

}
.hero .content .head3{
    position: absolute;top:1500px ;
}
.hero .content .para3{
        position: absolute;top:1510px ;

}

.hero .sidebar2{
    display: flex;flex-direction: column ;
     gap: 3em;width: 20%;padding-top: 50px;padding-left: 15px;border-left: 1 px solid black;
}
@media(min-width:1100px){

.header .logo{
    width: 90%;
}
.dropdown{
margin-left: 15px;
}
.logo a{
    width: 90%;margin-left:20px ;
}
.logo #icon{
    margin-right: 5px;padding-left: 5px;
}



.content{
    width: 90%;
}
.content h1 p{width: 90%;display: flex;flex-direction: column;gap: 2em;

}
.hero .content .head1{
    position: absolute;top:500px ;
}
.hero .content .para1{
        position: absolute;top:520px ;

}
.hero .content .head2{
    position: absolute;top:850px ;
}
.hero .content .para2{
        position: absolute;top:870px ;

}
.hero .content .head3{
    position: absolute;top:1800px ;
}
.hero .content .para3{
        position: absolute;top:1820px ;

}


}
 @media(max-width:1100px){
    .content{
    width: 90%;overflow: auto;
}

.hero .sidebar1 {
    visibility: hidden;
}
.hero .sidebar2{
        visibility: hidden;

}
.dropdown{
    visibility: hidden;
}
.logo a{
    margin-left:-300px;
}
.content h1{
            position: absolute;top:20px ;
}
.content p{
            position: absolute;top:60px ;
}
.hero .content .head1{
        position: absolute;top:200px ;
}
.hero .content .head1{
            position: absolute;top:700px ;

}
.hero .content .para1{
        position: absolute;top:710px ;}



.hero .content .head2{
    position: absolute;top:1050px ;
}
.hero .content .para2{
        position: absolute;top:1060px ;

}
.hero .content .head3{
    position: absolute;top:2050px ;
}
.hero .content .para3{
        position: absolute;top:2060px ;

} 
 
 }
  @media(max-width:870px){
    .content{
    width: 90%;
}

   .logo a{
    visibility: hidden;
}
 #icon{
    visibility: hidden;
 }
 .hero .content .head3{
    position: absolute;top:2150px ;
}
.hero .content .para3{
        position: absolute;top:2160px ;

}
  }
    @media(max-width:730px){
        .content h1{
            position: absolute;top:40px ;
}
.content p{
            position: absolute;top:80px ;
}
.hero .content .head1{
        position: absolute;top:800px ;
}
.hero .content .para1{
        position: absolute;top:810px ;}

     .hero .content .head2{
    position: absolute;top:1250px ;
}
.hero .content .para2{
        position: absolute;top:1260px ;

}
.hero .content .head3{
    position: absolute;top:2550px ;
}
.hero .content .para3{
        position: absolute;top:2560px ;

} 
   
    }
    @media(max-width:615px){
        .content{
    width: 100%;
}

      .hero .content .head1{
        position: absolute;top:900px ;
}
.hero .content .para1{
        position: absolute;top:910px ;}
       .hero .content .head2{
    position: absolute;top:1400px ;
}
.hero .content .para2{
        position: absolute;top:1410px ;

}
.hero .content .head3{
    position: absolute;top:2600px ;
}
.hero .content .para3{
        position: absolute;top:2610px ;

} 
    }
    @media(max-width:617px){
        .content{
    width: 100%;
}
.hero .content .head3{
    position: absolute;top:2750px ;
}
.hero .content .para3{
        position: absolute;top:2750px ;

} 


    }
        @media(max-width:570px){
        .content{
    width: 100%;
}
.hero .content .head3{
    position: absolute;top:2850px ;
}
.hero .content .para3{
        position: absolute;top:2850px ;

} 


    }
        @media(max-width:540px){
        .content{
    width: 100%;
}
      .hero .content .head1{
        position: absolute;top:1000px ;
}
.hero .content .para1{
        position: absolute;top:1010px ;}
       .hero .content .head2{
    position: absolute;top:1550px ;
}
.hero .content .para2{
        position: absolute;top:1560px ;

}

.hero .content .head3{
    position: absolute;top:3150px ;
}
.hero .content .para3{
        position: absolute;top:3160px ;

} 


    }














    




/* ****************************** mdn end***********************  */
/* *************************************color palate start************************ */
.make-up{
    max-width: 80vw;min-height: 100vh;background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRzc-YII4QkqKi9QZWzYR9sz6-wqVqwmvmdlLOPRrmg&s);
    background-repeat: no-repeat;background-position: center;background-size: cover;position: relative;overflow: auto;
display: flex;flex-flow:row wrap ;margin: 0 auto;
animation-name: spin ; 
animation-duration: 2s;
animation-iteration-count: 2;
animation-direction:initial;
border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
     transform: rotate(360deg);
  }
}

.make-up .head0{
    position: absolute;top: 15%;left: 30%;;color: rgb(58, 49, 56);display: inline-block;font-size:40px ;

}

.make-up .head-1{
    position: absolute;top: 30%; left: 30%; display:  inline-block;color: blue;
}
.make-up .head-2{
   position: absolute; left: 30%;top: 45%;background-color: rgb(48, 48, 116);z-index: 1;width: 120px;height: 120px;
   border-radius: 50%;
}
.make-up .head-3{
   position: absolute; left: 34%;top: 45%;background-color: rgb(29, 11, 184);z-index: 2;width: 120px;height: 120px;
   border-radius: 50%;
}
.make-up .head-4{
   position: absolute; left: 38%;top: 45%;background-color: rgb(36, 36, 238);z-index: 3;width: 120px;height: 120px;
   border-radius: 50%;
}
.make-up .head-5{
   position: absolute; left: 42%;top: 45%;background-color: rgb(125, 112, 245);z-index: 4;width: 120px;height: 120px;
   border-radius: 50%;
}
.make-up .head-6{
   position: absolute; left: 46%;top: 45%;background-color: rgb(160, 155, 207);z-index: 5;width: 120px;height: 120px;
   border-radius: 50%;
}
.PUR{    position: absolute;top: 70%;left: 30%;color: rgb(136, 17, 110);}

.pur1{
   position: absolute; left: 30%;top: 85%;background-color: rgb(61, 4, 56);z-index: 1;width: 120px;height: 120px;
   border-radius: 50%;

}
.pur2{
       position: absolute; left: 34%;top: 85%;background-color: rgb(110, 13, 119);z-index: 2;width: 120px;height: 120px;
   border-radius: 50%;

}
.pur3{   position: absolute; left: 38%;top: 85%;background-color: rgb(185, 13, 177);z-index: 3;width: 120px;height: 120px;
   border-radius: 50%;
}
.pur4{
       position: absolute; left: 42%;top: 85%;background-color: rgb(238, 43, 222);z-index: 4;width: 120px;height: 120px;
   border-radius: 50%;
}
.pur5{
   position: absolute; left: 46%;top: 85%;background-color: rgb(223, 166, 219);z-index: 5;width: 120px;height: 120px;
   border-radius: 50%;
}
.green1{
  position: absolute;top: 110%;left: 30%;color: rgb(27, 70, 34);   
}
.green2{
       position: absolute; left: 30%;top: 125%;background-color: rgb(14, 73, 12);z-index: 1;width: 120px;height: 120px;
   border-radius: 50%;

}
.green3{
       position: absolute; left: 34%;top: 125%;background-color: rgb(9, 116, 5);z-index: 2;width: 120px;height: 120px;
   border-radius: 50%;

}.green4{
       position: absolute; left: 38%;top: 125%;background-color: rgb(52, 182, 48);z-index: 3;width: 120px;height: 120px;
   border-radius: 50%;

}.green5{
       position: absolute; left: 42%;top: 125%;background-color: rgb(132, 204, 129);z-index: 4;width: 120px;height: 120px;
   border-radius: 50%;

}.green6{
       position: absolute; left: 46%;top: 125%;background-color: rgb(52, 245, 45);z-index: 5;width: 120px;height: 120px;
   border-radius: 50%;

}
.red1{
  position: absolute;top: 150%;left: 30%;color: rgb(139, 64, 64);   
}
.red2{
       position: absolute; left: 30%;top: 170%;background-color: rgb(117, 39, 59);z-index: 1;width: 120px;height: 120px;
   border-radius: 50%;}
.red3{
       position: absolute; left: 34%;top: 170%;background-color: rgba(224, 108, 54, 0.795);z-index: 2;width: 120px;height: 120px;
   border-radius: 50%;}
.red4{
       position: absolute; left: 38%;top: 170%;background-color: rgba(192, 84, 125, 0.911);z-index: 3;width: 120px;height: 120px;
   border-radius: 50%;}
.red5{
       position: absolute; left: 42%;top: 170%;background-color: rgb(224, 63, 103);z-index: 4;width: 120px;height: 120px;
   border-radius: 50%;}
.red6{
       position: absolute; left: 46%;top: 170%;background-color: rgb(226, 28, 77);z-index: 5;width: 120px;height: 120px;
   border-radius: 50%;}
.black1{
  position: absolute;top: 195%;left: 30%;color: rgb(11, 12, 11);   
}
.black2{
       position: absolute; left: 30%;top:215%;background-color: black;z-index: 1;width: 120px;height: 120px;
   border-radius: 50%;}
.black3{
       position: absolute; left: 34%;top: 215%;background-color: rgb(48, 42, 42);z-index: 2;width: 120px;height: 120px;
   border-radius: 50%;}
.black4{
       position: absolute; left: 38%;top: 215%;background-color: rgba(61, 59, 59, 0.911);z-index: 3;width: 120px;height: 120px;
   border-radius: 50%;}
.black5{
       position: absolute; left: 42%;top: 215%;background-color: rgb(80, 79, 79);z-index: 4;width: 120px;height: 120px;
   border-radius: 50%;}
.black6{
       position: absolute; left: 46%;top: 215%;background-color: rgb(92, 91, 91);z-index: 5;width: 120px;height: 120px;
   border-radius: 50%;}
   @media(min-width:1000px){
.make-up {width: 90%; }
}
@media(max-width:505px)
{.make-up {width: 90%;}
.make-up,.head0,.head-1,.PUR,.green1,.red1,.black1{
    font-size: 20px;
}
.make-up.head0{
font-size: 20px;
}
}



  /* ********************************************color palate end****************************** * * */


  .html{
    background-color: rgb(26, 48, 40);
  }
  .html img{
    width: 400px;height: 400px;border: 20px solid white;margin: 10% 8% 0 8%
  }
