*{
    padding: 0;margin: 0;box-sizing: border-box;
}
/* ****************************** mdn start***********************  */
header{
    position:fixed;top: 0;left: 0;right: 0;
}
header.logo{
  
height: 70px;min-width: 1000px;background-color: rgb(241, 233, 222);display: flex;justify-content: space-between;
  align-items: center;  overflow: auto;padding-top: 75px;
}
header .logo img{
    width: 100px;  padding-right: 20px;margin-right: 70px;margin-left: 10px;
}
.dropdown {
 position: relative;
 display: inline-block;margin-left: 30px;
}
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f9f9f9;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 padding: 12px 16px;
 z-index: 1;
}
.dropdown:hover .dropdown-content {
 display: block;color: rgb(215, 224, 220);background-color: rgb(4, 90, 61);
}





.logo a{
    color: black;margin-left: 100px;
}
header .logo #icon{
    padding-left: 10px;margin-left: 20px;border-radius: 2px;
}
nav {
    width: 100%;height: 35px;background-color:aliceblue;border-top: 1px solid black;
    border-bottom: 1px solid black;display: flex;justify-content: space-between;align-items: center;
    padding-top: 15px;margin-top: 90px;
}
nav .web{
    padding: 0 40px;margin-left: 30px;
}
nav .theme{
    padding-right: 40px;}
nav .theme i{
    padding-right: 40px;
}
a{
    color: black;
}
.hero{
   min-width: 90vw;height: 100vh;display: flex;
}
.hero .sidebar1{
    display: flex;gap: 1em;width: 20%;position: relative;
overflow: auto;
}
.hero .sidebar1 input{
    width: 200px;height: 40px; border-radius: 20px;
    display: block;padding: 8px;
  margin-bottom: 10px; margin-top: 30px;
}
ul {list-style: none;position: absolute;top: 80px;display: flex;
    flex-direction: column ;gap: 15px;padding-bottom: 70px;
}

li {
  margin-bottom: 5px 
}


.hero .content{
        display: flex;gap: 1em;width: 59%;overflow: auto;position: relative;padding-left: 15px;

}
.hero .content h1 {display: inline-block;position: absolute;padding-top: 30px;
}
.hero .content p{display: inline-block;position: absolute;padding-top: 100px;
}
.hero .content .head1{
    position: absolute;top:400px ;
}
.hero .content .para1{
        position: absolute;top:410px ;

}
.hero .content .head2{
    position: absolute;top:700px ;
}
.hero .content .para2{
        position: absolute;top:710px ;

}
.hero .content .head3{
    position: absolute;top:1500px ;
}
.hero .content .para3{
        position: absolute;top:1510px ;

}

.hero .sidebar2{
    display: flex;flex-direction: column ;
     gap: 3em;width: 20%;padding-top: 50px;padding-left: 15px;border-left: 1 px solid black;
}
@media(min-width:1100px){

.header .logo{
    width: 90%;
}
.dropdown{
margin-left: 15px;
}
.logo a{
    width: 90%;margin-left:20px ;
}
.logo #icon{
    margin-right: 5px;padding-left: 5px;
}



.content{
    width: 90%;
}
.content h1 p{width: 90%;display: flex;flex-direction: column;gap: 2em;

}
.hero .content .head1{
    position: absolute;top:500px ;
}
.hero .content .para1{
        position: absolute;top:520px ;

}
.hero .content .head2{
    position: absolute;top:850px ;
}
.hero .content .para2{
        position: absolute;top:870px ;

}
.hero .content .head3{
    position: absolute;top:1800px ;
}
.hero .content .para3{
        position: absolute;top:1820px ;

}


}
 @media(max-width:1100px){
    .content{
    width: 90%;overflow: auto;
}

.hero .sidebar1 {
    visibility: hidden;
}
.hero .sidebar2{
        visibility: hidden;

}
.dropdown{
    visibility: hidden;
}
.logo a{
    margin-left:-300px;
}
.content h1{
            position: absolute;top:20px ;
}
.content p{
            position: absolute;top:60px ;
}
.hero .content .head1{
        position: absolute;top:200px ;
}
.hero .content .head1{
            position: absolute;top:700px ;

}
.hero .content .para1{
        position: absolute;top:710px ;}



.hero .content .head2{
    position: absolute;top:1050px ;
}
.hero .content .para2{
        position: absolute;top:1060px ;

}
.hero .content .head3{
    position: absolute;top:2050px ;
}
.hero .content .para3{
        position: absolute;top:2060px ;

} 
 
 }
  @media(max-width:870px){
    .content{
    width: 90%;
}

   .logo a{
    visibility: hidden;
}
 #icon{
    visibility: hidden;
 }
 .hero .content .head3{
    position: absolute;top:2150px ;
}
.hero .content .para3{
        position: absolute;top:2160px ;

}
  }
    @media(max-width:730px){
        .content h1{
            position: absolute;top:40px ;
}
.content p{
            position: absolute;top:80px ;
}
.hero .content .head1{
        position: absolute;top:800px ;
}
.hero .content .para1{
        position: absolute;top:810px ;}

     .hero .content .head2{
    position: absolute;top:1250px ;
}
.hero .content .para2{
        position: absolute;top:1260px ;

}
.hero .content .head3{
    position: absolute;top:2550px ;
}
.hero .content .para3{
        position: absolute;top:2560px ;

} 
   
    }
    @media(max-width:615px){
        .content{
    width: 100%;
}

      .hero .content .head1{
        position: absolute;top:900px ;
}
.hero .content .para1{
        position: absolute;top:910px ;}
       .hero .content .head2{
    position: absolute;top:1400px ;
}
.hero .content .para2{
        position: absolute;top:1410px ;

}
.hero .content .head3{
    position: absolute;top:2600px ;
}
.hero .content .para3{
        position: absolute;top:2610px ;

} 
    }
    @media(max-width:617px){
        .content{
    width: 100%;
}
.hero .content .head3{
    position: absolute;top:2750px ;
}
.hero .content .para3{
        position: absolute;top:2750px ;

} 


    }
        @media(max-width:570px){
        .content{
    width: 100%;
}
.hero .content .head3{
    position: absolute;top:2850px ;
}
.hero .content .para3{
        position: absolute;top:2850px ;

} 


    }
        @media(max-width:540px){
        .content{
    width: 100%;
}
      .hero .content .head1{
        position: absolute;top:1000px ;
}
.hero .content .para1{
        position: absolute;top:1010px ;}
       .hero .content .head2{
    position: absolute;top:1550px ;
}
.hero .content .para2{
        position: absolute;top:1560px ;

}

.hero .content .head3{
    position: absolute;top:3200px ;
}
.hero .content .para3{
        position: absolute;top:3210px ;

} 


    }
        @media(max-width:450px){
                  .hero .content .head1{
        position: absolute;top:1150px ;
}
.hero .content .para1{
        position: absolute;top:1180px ;}
  .hero .content .head2{
  position: absolute;top:1800px ;
}
.hero .content .para2{
        position: absolute;top:1800px ;
}
.hero .content .head3{
    position: absolute;top:3600px ;
}
.hero .content .para3{
        position: absolute;top:3600px ;
} 
        }









