*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}






html body{
    overflow: hidden;}

 
.html{
    background-color: rgb(30, 53, 45);display: flex;flex-wrap: wrap;justify-content: center;
    gap: 100px;overflow: auto;
}
.html img{
    width: 400px;
    height: 400px;
    border: 20px solid white;
    
}
@media only screen and (max-width:450px){
    .html img{
        width: 250px;height: 250px;
    }
} 
/* ************************************form start*************************************** */
 .parent{
     max-width: 1000px;
  min-height: 700px;
  background-color: rgb(206, 211, 215);
  margin: 5px auto;
  padding: 20px;
  border-radius: 20px;display: flex;justify-content: center;
}
.parent .container{
height: 660px;
  width: 30%;
  background-color: rgb(54, 76, 245);
  border-radius: 10px;
  display: inline-block;    
}
.parent .container .one{
    font-size: 16px;font-variant: small-caps;
    width: 10%;height: 10%;padding-left: 10px;
}
.parent .container .two{width: 100%;height: 30%;padding-left: 10px;

}
.parent .container h2 {
    padding-top: 30px;padding-left: 10px;padding-bottom: 30px;
}
.parent .container.two span{
    padding-top: 70px;color: gray;font-size: 13px;padding-left: 10px;
}
.parent .container .three{
    width: 100%;height: 40%;border: 1px solid rgb(68, 64, 64);
    padding: 30px 10px 30px 10px;background-color: rgb(25, 25, 158);margin-bottom: 20px;
}
.parent .container .three img{
    width: 90px;padding-top: 30px ;display: block;padding-left: 20px;

}
 .parent .form{
     height: 660px;
  width: 69%;
  background-color: rgb(141, 169, 230);
  display: inline-block;

}
.form h1{
    padding-left: 10px;font-size: 40px;
}
h3{
    display: inline-block;padding-left: 10px;
}
#sign{
    color: blue;display: inline-block;
}
.form .lable{ display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    color: grey;
    padding-left: 10px;
}
.form .inone{
    width: 34%;
        height: 50px;
margin: 2vh ;
    border-radius: 20px ;

}
input{
    width: 70%;
    height: 55px;
        margin: 0 20px;border-radius: 20px;

}
.form-button{
    width: 200px;height: 50px;background-color: blue;display:block;
    text-decoration: none;color: white;display: block;border-radius: 20px;
    margin-left: 20px;margin-top: 30px;
}
@media only screen and (max-width:1000px) {
  .sidebar, .form {
    display: block;
    height: 400px;
    width: 90%;
    margin: 0 auto;
  }

  .form{
    height: 700px ;
  }
}
 
@media only screen and (max-width:950px) {
    .sidebar .form{
        display:block;
        height: 300px;
        width: 90%;
    }
    .form{
        height: 700px;
    }
}
@media only screen and (max-width:700px) {
    .container{
        width: 90%;height: 50%;
    }
        .sidebar {
            height: 49%;

    width: 90%;

}
        .form {
            width: 59%;
            height: 50%;
}

}

/* ************************************form end*************************************** */
