*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
/* ***********************apple card start***************************************** */
.body{
    background-color: rgb(117, 41, 41);
}
.containar {
   min-height: 480px;max-width: 800px;position: fixed;padding-left: 130px;background-color: rgba(134, 163, 27, 0.555);
    position: relative;margin: 4em auto;
}
.card{
    width: 60%;height: 85%;background-color: white;position: absolute;
    right: 15%;top:8%;
}

.head4 {
    position: absolute;right: 26%;top: 10%;font-size: large;color: rgb(51, 46, 46);
}
#rate{
    color: crimson;position: absolute;top: 22%;right: 32%;font-size: large;
}

#color{
    color: grey;font-size: small;position: absolute;top: 32%;right: 32%;
}

.img{
    width: 30px;height: 30px;position: absolute;top: 40%;
}
.img1{
    right: 49%;top: 38%;
}
.img2{
    right: 43%;top: 38%;
}
.img3{
    right: 36%;top: 38%;
}
.img4{
    right: 30%;top: 38%;
}

b{ font-size:xx-large;    }  

.h4{
    color: grey;position: absolute;right:40%;font-size: small;top: 48%;
}
 .good{
        color: rgb(71, 68, 68);font-size: small;position: absolute;left: 40%;top:54% ;

}
button{width: 30%;height: 8%;color: white;background-color: crimson;border: none;
    position: absolute;bottom:3% ;right: 18%;border-radius: 10%;box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

}
.white{
    height: 75%;width: 30%;background-color: rgb(194, 241, 65);position: absolute;z-index: 1;top: 8%;left: 15%;
}
.white .apple{
    width: 300px;position: absolute;top:7%; right: 1%;
}
.green{
    width: 30%;height: 10%;background-color: rgb(225, 241, 236);position: absolute;z-index: 1;bottom: 7%;left: 15%;
}
.g-apple{
    width: 20%;left: 10%;
}
.g-apple1{
    width: 20%;left: 20%;
}
.g-apple2{
    width: 20%;left: 30%;
}
.g-apple3{
    width: 20%;left: 40%;
}

 @media (max-width:1000px){
.containar .card {width: 60%;
}
.white .green{
    width: 28%;
}
}
 @media (max-width:750px){
.containar .card {width: 60%
}
.white .green{
    width: 28%;
}
.white .apple{
    width: 280px;
}
}
 @media (max-width:650px){ 
    .good{
        left: 35%;
    }
    .white .apple{
        width:260px ;
    }
    button{
        width: 100px;font-size: 10px;
    }
    .img{
        padding: 5px;
    }
 }
 @media (max-width:600px){
    .containar.card{
        width: 90%;
    }
    .white .apple{
display: flex;flex-direction: column;
    }
    .white .apple{
        width: 240px;
    }
 }
  @media (max-width:500px){
    .white{
        width: 60%;height: 50%;
    }
    .apple{
        width: 200px;left: 8%;top: 10%;
    }
    .green{
            height: 10%;   width: 60%;top:58% ;

    }
    .containar{
        height: 90%;margin: 0 auto;

            }
                    .card{
        width: 60;top: 67%;left: 15%;
    }
    .good{
        left:20%
    }
    .button{
        left: 30%;
    }
    #color #rate{
        left 20%
    }
  }











/* ***************************apple card end*********************************************** */







/* ******************************form start*********************** */
.parent{
   width:1000px;
    height: 100vh;
    border-radius: 10px;
    background-color: aliceblue;
    font-family: sans-serif;margin: 0 auto;
    display: flex;flex-wrap:wrap ;
}
.parent .content{
    width:300px;height: 95vh;background: blue;color: white;padding: 10px;border-radius: 10px;
    display: flex;flex-direction: column;margin: 15px 0 15px 0;
}
.parent .content .one{
    font-size: 16px;font-variant: small-caps;
    width: 10%;height: 10%;display: flex;align-items: flex-start;
}
.parent .content .two{width: 100%;height: 40%;

}
.parent .content .two h2 {
    padding-top: 50px;font-size: 22px;
}
.parent .content .two p{
    padding-top: 30px;color: gray;font-size: 13px;
}
.parent .content .three{
    width: 100%;height: 40%;border: 1px solid rgb(68, 64, 64);
    padding: 30px 10px 30px 10px;background-color: rgb(25, 25, 158);
}
.parent .content .three img{
    width: 100px;padding-top: 20px ;

}
.parent .form{
   width:690px ;height: 95vh;margin: 15px 0 15px 0;padding: 20px;
}
h3{
    display: inline-block;
}
#sign{
    color: blue;display: inline-block;
}
.form .lable{ display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    color: grey;
}
.form .inone{
    width: 34%;
        height: 50px;
    margin: 0 5px;
    border-radius: 20px ;

}
input{
    width: 70%;
    height: 50px;
    margin: 0 5px;
}
.form .button{
    width: 25%;height: 50px;background-color: blue;display: block;
    margin: 5vh 5vh;text-decoration: none;color: white;
}
.button{
    border: none;border-radius: 10px;
}

@media(width:1000px){
    .parent .content{
        width:100%;display: flex;flex-direction: column;
    }
}
/* ******************************form end************************ */ 



/* ****************************** mdn start***********************  */
 header.logo{
height: 70px;min-width: 1000px;background-color: rgb(241, 233, 222);display: flex;
justify-content: space-between;align-items: center;gap: 1em;position: fixed;top: 0;
        left: 0;
        width: 100%;
}
header .logo img{
    width: 100px;  padding-right: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;gap: 2em;
}
  .dropdown .dropbtn{
    border: none;width: 100px;
    color: red;
    
}

.dropdown-content {
  display: none; 
  position: absolute; 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1; 
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; 
}

.dropdown-content a:hover {
    color: aliceblue;
}

.dropdown:hover .dropdown-content {
  display: block;background-color:#3e8e41;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
a{
    color: black;margin-left: 20px;
}
header .logo #icon{
    padding-left: 10px;margin-left: 20px;border-radius: 2px;
}
nav {
    width: 100%;height: 35px;background-color:aliceblue;border-top: 1px solid black;
    border-bottom: 1px solid black;display: flex;justify-content: space-between;align-items: center;
    padding-top: 15px;
}
nav .web{
    padding: 0 40px;margin-left: 30px;
}
nav .theme{
    padding-right: 40px;}
nav .theme i{
    padding-right: 40px;
}

.hero{
   min-width: 100%;height: 100vh;display: flex;
}
.hero .sidebar1{
    display: flex;gap: 1em;width: 20%;position: relative;
overflow: auto;
}
.hero .sidebar1 input{
    width: 200px;height: 40px; border-radius: 20px;
    display: block;padding: 8px;
  margin-bottom: 10px; margin-top: 30px;
}
ul {list-style: none;position: absolute;top: 80px;display: flex;
    flex-direction: column ;gap: 15px;padding-bottom: 70px;
}

li {
  margin-bottom: 5px 
}


.hero .content{
        display: flex;gap: 1em;width: 59%;overflow: auto;position: relative;padding-left: 15px;

}
.hero .content h1 {display: inline-block;position: absolute;padding-top: 30px;
}
.hero .content p{display: inline-block;position: absolute;padding-top: 100px;
}
.hero .content .head1{
    position: absolute;top:400px ;
}
.hero .content .para1{
        position: absolute;top:410px ;

}
.hero .content .head2{
    position: absolute;top:700px ;
}
.hero .content .para2{
        position: absolute;top:710px ;

}
.hero .content .head3{
    position: absolute;top:1500px ;
}
.hero .content .para3{
        position: absolute;top:1510px ;

}

.hero .sidebar2{
    display: flex;flex-direction: column ;
     gap: 3em;width: 20%;padding-top: 50px;padding-left: 15px;border-left: 1 px solid black;
}
@media(max-width:1000px){

.header .logo{
    width: 90%;
}
a{
    width: 90%;
}
/* .sidebar1{visibility: hidden;}

.sidebar2{visibility: hidden;}
 */

.content{
    width: 100%;
}
.content h1 p{width: 90%;display: flex;flex-direction: column;gap: 2em;

}
}
@media(max-width:900px){
    .content{
        display: flex;flex-direction: column;
    }
    .hero .content h1 {display: inline-block;position: absolute;padding-top: 40px;
}
.hero .content p{display: inline-block;position: absolute;padding-top: 150px;
}
.hero .content .head1{
    position: absolute;top:950px ;
}
.hero .content .para1{
        position: absolute;top:960px ;

}
.hero .content .head2{
    position: absolute;top:1500px ;
}
.hero .content .para2{
        position: absolute;top:1510px ;

}
.hero .content .head3{
    position: absolute;top:3150px ;
}
.hero .content .para3{
        position: absolute;top:3160px ;

}

}


/* ****************************** mdn end***********************  */
